<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459279995663-u568lv91ngdjcuvmoukjdftd0iq3622d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459279995663-u568lv91ngdjcuvmoukjdftd0iq3622d</string>
	<key>API_KEY</key>
	<string>AIzaSyD_zdFKZzDjxNFFAW3d_xjpy_bFZVVOPPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>459279995663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nagi94.travelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-7c6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-7c6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:459279995663:ios:6c71fc6e6f315adceda47a</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-7c6a7.firebaseio.com</string>
</dict>
</plist>
